* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  background: #DAE0E6;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  padding: 0 1em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #EEEFF1;
  margin-bottom: 1em;
}

h1 {
  font-size: 1.5em;
}
